.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.input-container {
  /* Create a row layout for the input and submit button */
  display: flex;
  align-items: center;
}
  
  .input-box {
    width: 300px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
  }
  
  .submit-button {
    width: 200px;
    height: 50px;
    background-color: green;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .output-container {
    margin-top: 10px;
    width: 300px;
    background-color: lightgrey;
    color: black;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
  }

.input-output-container {
  display: flex;
}

.input-output-container > div {
  margin-right: 10px;
}
